/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************/
/**  Alerts: #mysbAlerts  **/
/**********************************/

#mysbAlerts {
  padding: 5px;
  width: 100%;
  cursor:default;
  text-align: center;
}

#mysbAlerts > div {
  display: inline-block;
  max-width: 450px;
  width: 100%;
  margin: 5px 0px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: #ffca92;
  border: 4px solid red;
}

#mysbAlerts > div > div {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  padding: 0px 10px;
  text-align: left;
}


/**********************************/
/**  Tip Messages: #mysbMessages  **/
/**********************************/

#mysbMessages {
  font-size: 80%;
  position: fixed;
  padding: 5px;
  width: 250px;
  max-width: 90%;
  right: 20px;
  bottom: 20px;
  cursor:default;
  border-radius: 5px;
  background-color: #ffca92;
}
#mysbMessages > div {
  width: 100%;
}
#mysbMessages > div > div {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  padding: 0px 10px;
}

#mysbMessages {
  opacity: 0;
  box-shadow: 0 0 .1rem .3rem rgba(255,0,0,0);
  z-index: -20;
  max-height: 0px;
  -webkit-transition:
    opacity 3s ease 3s,
    box-shadow 3s ease 3s,
    z-index 0s ease 6s,
    max-height 0s ease 6s;
  transition:
    opacity 3s ease 5s,
    box-shadow 3s ease 5s,
    z-index 0s ease 8s,
    max-height 0s ease 8s;
}

#mysbMessages.activation {
  opacity: 1;
  box-shadow: 0 0 .1rem .3rem rgba(255,0,0,.9);
  z-index: 10005;
  max-height: 500px;
  -webkit-transition:
    opacity 0s,
    box-shadow 0s,
    z-index 0s,
    max-height 0s;
  transition:
    opacity 0s,
    box-shadow 0s,
    z-index 0s,
    max-height 0s;
}

@media (max-width: 480px) {
  #mysbMessages {
    width: 600px;
  }
}


/**********************************/
/**  SQL LOG BOX  **/
/**********************************/

#LoginDropDown div.row,
#LoginDropDown div.row > * {
  width: 100%;
}
#LoginDropDown div.row {
  padding: 6px 16px;
  display: block;
  text-align: left !important;
  width: 100%;
}



#mysbLogSql {
  display:block;
  width: 80%;
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 25px 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#mysbLogSql p {
  margin: 0px auto 0px auto;
  width: 70%;
  padding: 10px;
  color: white;
  background-color: #bb0000;
  font-size: 80%;
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  #mysbLogSql,
  #mysbLogSql p {
    width: 100%;
  }
}

@media (max-width: 480px) {
   #mysbLogSql {
    display: none;
   }
}


/**********************************/
/**  TOOLTIPS  **/
/**********************************/

.tooltip
{
  text-decoration:none;
}


.tooltip span
{
  display:block;
  position:absolute;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
  width:320px;
}

.tooltip span img
{
  float:left;
  margin:0px 8px 8px 0;
}

.tooltip span {
  box-shadow: none;
  max-height: 0px;
  opacity: 0;
  z-index: -20;
  -webkit-transition:
    opacity 0.4s,
    box-shadow 0.4s,
    z-index 0s ease 0.4s,
    max-height 0s ease 0.4s;
  transition:
    opacity 0.4s,
    box-shadow 0.4s,
    z-index 0s ease 0.4s,
    max-height 0s ease 0.4s;
}

.tooltip:hover span {
  box-shadow: 0 0 .2rem .2rem rgba(50,50,50,.4);
  max-height: 500px;
  opacity: 1;
  z-index: 1000;
  -webkit-transition:
    opacity 0s,
    z-index 0s;
  transition:
    opacity 0s,
    z-index 0s;
}


/**********************************/
/**  SLIDES  **/
/**********************************/

.slide {
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  -webkit-transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
}
.slide.slide-toggled {
  max-height: 1000px;
  opacity: 1;
}


/**********************************/
/**  OBSOLETE STYLE  **/
/**********************************/

div.boxed {
  text-align: left;
}
div.list_support div.boxed,
div.boxed div.row {
  padding: 5px 10px;
  min-height: 60px;
}
div.row > div.right {
  /* float: right; */
  /* display: inline-block; */
  right: 0;
  position: absolute;
}
div.boxed p {
  text-align: left;
}



