/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************/
/**  GLOBAL STYLES  **/
/**********************************/

* {
  margin: 0px;
}
*,
::after, ::before {
  box-sizing: border-box;
}
body {
  overflow-y:scroll;
}
form {
  width: 100%;
  height: 100%;
}
button, input, optgroup, select, textarea {
  margin: 0;
}
textarea {
  max-width: 100%;
}

/**********************************/
/**  INPUTS, BUTTONS AND OTHERS  **/
/**********************************/

button, input {
  overflow: hidden;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input[type=submit],
input[type=image],
.btn {
  border: none;
  cursor: pointer;
  text-align: center;
}
a {
  color: inherit;
}
a.inactive {
  cursor: auto;
}

/***********************************/
/**  HIDE LAYER  **/
/***********************************/

#hidelayer {
  display: none;
}


/***********************************/
/**  SPIN LAYER  **/
/***********************************/

#mysbSpin {
  display: none;
  position: fixed;
  z-index: 5000000;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: transparent;
}
#spinlayer {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  margin-top: 80px;
  box-shadow: 0px 0px 10px 10px #fff;
}


/***********************************/
/**  BODY LAYER  **/
/***********************************/

div#mysbBody {
  text-align: center;
  vertical-align: middle;
}
div#mysbMiddle {
  min-height: 200px;
}


@media (max-width: 768px) {

}

@media (max-width: 480px) {

}



/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************/
/**  MIDDLE BODY ELEMENTS  **/
/**********************************/

div#mysbMiddle {
  display: inline-block;
  width: 1024px;
  /* width: 100%; */
  min-height: 80vh;
  text-align: center;
}

@media (max-width: 1024px) {
  div#mysbMiddle {
    width: 768px;
  }
}

@media (max-width: 768px) {
  div#mysbMiddle {
    /* display: inline-block; */
    width: 98%;
  }
}

@media (max-width: 480px) {
  div#mysbMiddle {
    /* display: block; */
    width: 100%;
  }
}


/**********************************/
/**  GRID ELEMENTS  **/
/**********************************/

.container {
  display: inline-block;
  min-height: 250px;
  text-align: center;
}

.f-right,
.f-right-sm,
.f-right-md,
.f-right-lg {
  float: right;
}

.f-left,
.f-left-sm,
.f-left-md,
.f-left-lg {
  float: left;
}

.row {
  padding: .25rem;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  /* display: flex; */
  /* -ms-flex-wrap: wrap; */
  /* flex-wrap: wrap; */
  /* -webkit-box-flex: 1; */
  width: 100%;
  max-width: 100%;
  position: relative;
  text-align: left;
  display: inline-block;
}

*[class*="col-"] {
  1border: 1px solid red;
  1background-color: red;
}

*[class*="col-"] * {
  1width: 100%;
}

a[class*="col-"] > img {
  /* padding: 3px; */
  /* margin-top: 0.3rem; */
}


/**********************************/
/**  COLUMNS ELEMENTS  **/
/**********************************/

.col,
.col-1, .col-10, .col-11, .col-12, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
.col-auto, .col-lg,
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-lg-auto, .col-md,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-md-auto, .col-sm,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-sm-auto, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3,
.col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9,
.col-xl-auto {
  display: inline-block;
  position: relative;
  /* width: 100%; */
  min-height: 1px;
  /* padding-top: .3rem; */
  padding-right: .5rem;
  padding-left: .5rem;
  float: left;
  /* min-width: 35px; */
}

.col-1,
.col-sm-1,
.col-md-1,
.col-lg-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33%;
  flex: 0 0 8.33%;
  max-width: 8.33%;
  width: 8.33%;
}

.col-2,
.col-sm-2,
.col-md-2,
.col-lg-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66%;
  flex: 0 0 16.66%;
  max-width: 16.66%;
  width: 16.66%;
}

.col-3,
.col-sm-3,
.col-md-3,
.col-lg-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  width: 25%;
}

.col-4,
.col-sm-4,
.col-md-4,
.col-lg-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  width: 33.33%;
}

.col-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66%;
  flex: 0 0 41.66%;
  max-width: 41.66%;
  width: 41.66%;
}

.col-6,
.col-sm-6,
.col-md-6,
.col-lg-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}

.col-7,
.col-sm-7,
.col-md-7,
.col-lg-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33%;
  flex: 0 0 58.33%;
  max-width: 58.33%;
  width: 58.33%;
}

.col-8,
.col-sm-8,
.col-md-8,
.col-lg-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66%;
  flex: 0 0 66.66%;
  max-width: 66.66%;
  width: 66.66%;
}

.col-9,
.col-sm-9,
.col-md-9,
.col-lg-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  width: 75%;
}

.col-10,
.col-sm-10,
.col-md-10,
.col-lg-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33%;
  flex: 0 0 83.33%;
  max-width: 83.33%;
  width: 83.33%;
}

.col-11,
.col-sm-11,
.col-md-11,
.col-lg-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66%;
  flex: 0 0 91.66%;
  max-width: 91.66%;
  width: 91.66%;
}

.col,
.col-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

.col-auto,
.col-sm-auto,
.col-md-auto,
.col-lg-auto,
 {
  -webkit-box-flex:0;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:auto;
  max-width: 100%;
}

.col-unique {
  float: none;
}

@media (max-width: 1024px) {
  .f-right-lg,
  .f-left-lg {
    float: none;
    clear: both;
    display: inline-block !important;
  }
  .col-lg,
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
  .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
  .col-lg-auto {
    float: none;
    clear: both;
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .f-right-md,
  .f-left-md {
    float: none;
    clear: both;
    display: inline-block !important;
  }
  .col-md,
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
  .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
  .col-md-auto {
    float: none;
    clear: both;
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  *[class*="col-"] {
    padding-right: .2rem;
    padding-left: .2rem;

  }
}

@media (max-width: 480px) {
  .f-right-sm,
  .f-left-sm {
    float: none;
    clear: both;
    display: inline-block !important;
  }
  .col-sm,
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
  .col-sm-auto {
    float: none;
    clear: both;
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100% !important;
    width: 100% !important;
  }
  *[class*="col-"] {
    padding-right: .1rem;
    padding-left: .1rem;

  }
}


/**********************************/
/**  SIZED BLOCK ELEMENTS  **/
/**********************************/

.w-auto {
  width: auto !important;
}

.w-100,
.w-sm-100,
.w-md-100,
.w-lg-100 {
  display: inline-block;
  width: 100%;
  max-width: 1020px;
}
.w-sm-100 {
  max-width: 470px;
}
.w-md-100 {
  max-width: 760px;
}
.w-lg-100 {
  max-width: 1020px;
}


@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}


/**********************************/
/**  HIDE/SHOW ELEMENTS  **/
/**********************************/

.d-show,
.d-show-sm,
.d-show-md,
.d-show-lg {
}


@media (max-width: 480px) {
  .d-show-sm { display: none !important; }
}

@media (max-width: 768px) {
  .d-show-md { display: none !important; }
}

@media (max-width: 1024px) {
  .d-show-lg { display: none !important; }
}

.d-hide {
  display: none !important;
  opacity: 0;
}
.d-hide-sm,
.d-hide-md,
.d-hide-lg {
}


@media (min-width: 480px) {
  .d-hide-sm { display: none !important; }
}

@media (min-width: 768px) {
  .d-hide-md { display: none !important; }
}

@media (min-width: 1024px) {
  .d-hide-lg { display: none !important; }
}

.d-hiding {
  opacity: 0;
  -webkit-transition:
    opacity 0.3s;
  transition:
    opacity 0.3s;
}
.d-showing {
  opacity: 1;
  -webkit-transition:
    opacity 0.3s;
  transition:
    opacity 0.3s;
}
/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************/
/**  NAVBAR STYLES  **/
/**********************************/

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 50px;
}

.navbar li {
  float: left;
  list-style: none;
  height: 100%;
  text-align: left;
}
.navbar li.right {
  float: right;
}
.navbar li > a,
.navbar li > span,
.navbar .dropbtn {
  padding: 1.2rem .75rem .70rem;
  display: inline-block;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  height: 100%;
  text-decoration: none;
}
.navbar li > a,
.navbar .dropbtn {
  width: 100%;
}
.navbar img {
  width: 24px;
  float: left;
  margin-top: -4px;
  margin-right: 10px;
}


/**********************************/
/**  NAVBAR MECANICS  **/
/**********************************/

.navbar li.icon-responsive {
  display: none;
  float: right;
}
.navbar li.icon-responsive img {
  width: 32px;
  margin-top: -8px;
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar ul {
    height: auto;
    position: relative;
  }
  .navbar ul li {
    display: block;
    height: auto;
  }
  .navbar.responsive ul li {
    text-align: left;
  }
  .navbar:not(.no-collapse) ul li:not(.no-collapse):not(.icon-responsive) {
    overflow: hidden;
    float: none;
    clear: both;
    width: 100%;
    display: block;
    height: 0px;
    -webkit-transition: height .2s ease-out;
    transition: height .2s ease-out;
  }
  .navbar.responsive ul li:not(.no-collapse):not(.icon-responsive) {
    height: 50px;
    -webkit-transition: height .2s ease-in;
    transition: height .2s ease-in;
  }
  .navbar ul li.no-collapse {
    display: block !important;
    height: 50px;
    width: 100%;
  }
  .navbar.no-collapse ul li.right,
  .navbar ul li.no-collapse.right {
    text-align: right;
  }
  .navbar.responsive ul li.no-collapse {
    width: 100%;
    height: 50px;
  }
  .navbar li.icon-responsive {
    display: block;
    /* float: right; */
    /* height: 50px; */
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
  }
  .navbar.responsive li.icon-responsive {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
  }
}


/**********************************/
/**  DROPDOWN STYLES  **/
/**********************************/

.dropdown {
  display: inline-block;
}

.dropdown-content {
  1display: none;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  min-width: 200px;
}
.dropdown.right .dropdown-content {
  right: 0px;
}

.dropdown-item > div,
.dropdown-item > span,
.dropdown-item > a {
  padding: 1.2rem .75rem .70rem;
  display: inline-block;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  height: 100%;
  min-height: 50px;
  width: 100%;
}
.dropdown-item > div,
.dropdown-item > a {
  text-decoration: none;
}
.dropdown-item > span {
}


/**********************************/
/**  DROPDOWN MECANICS  **/
/**********************************/

.dropdown .dropdown-content {
  box-shadow: none;
  max-height: 0px;
  -webkit-transition:
    max-height .2s ease-out,
    box-shadow .25s ease-out;
  transition:
    max-height .2s ease-out,
    box-shadow .25s ease-out;
}
.dropdown.dropped .dropdown-content {
  box-shadow: 0 0 .1rem .2rem rgba(128,128,128,.5);
  max-height: 300px;
  -webkit-transition:
    max-height .2s ease-in,
    box-shadow .25s ease-in;
  transition:
    max-height .2s ease-in,
    box-shadow .25s ease-in;
}
.dropdown.dropped .dropdown-item {
  display: block;
}


@media screen and (max-width: 768px) {
  .navbar:not(.responsive) .dropdown-content {
    display: none;
  }
  .navbar .dropdown-content {
    position: relative;
    width: 100%;
  }
  .navbar.responsive .dropdown-item {
    float: none;
    clear: both;
    text-align: left;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .navbar.responsive ul li.dropdown.dropped {
    height: auto;
  }
  #NavBarColumn.navbar ul li.dropdown {
    height: auto !important;
  }
  #NavBarColumn.navbar:not(.responsive) ul li.dropdown.force-collapse {
    display: none;
  }
  .dropdown.dropped .dropdown-content {
    box-shadow: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar.responsive .dropdown-item {
    padding-left: 20px;
    padding-right: 20px;
  }
}


/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************/
/**  BODY ELEMENTS  **/
/**********************************/

h1 {
  font-size: 120%;
  font-weight: bold;
  padding: 8px 10px 10px;
  text-align: center;
}
h2 {
  font-size: 110%;
  font-weight: bold;
  padding: 6px 10px 8px;
  text-align: left;
}
h3 {
  font-size: 100%;
  font-weight: bold;
  padding: 6px 10px 8px;
  text-align: left;
}


/**********************************/
/**  IN CONTENT ELEMENTS  **/
/**********************************/

.content,
.list_support {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
}
.content.advert {
  padding: .5rem;
}

.content h1 {
  /* font-size: 120%; */
  /* font-weight: bold; */
  /* padding: 8px 10px 10px; */
  /* text-align: center; */
}
.content h2 {
  /* font-size: 110%; */
  /* font-weight: bold; */
  /* padding: 6px 10px 8px; */
  width: 100%;
  /* text-align: left; */
}
.content h2 {
  width: 100%;
}

.list {
  display: block;
  text-align: center;
  position: relative;
  margin: 1px 0;
}
.list > .row {
  display: table;
  /* position: relative; */
  padding: 0;
  margin: 1px 0px 0px;
  border-collapse: separate;
  border-spacing: 0px 1px;
}
.list > .row.collapse {
  border-collapse: none;
  border-spacing: 0px;
  margin: 0;
}
.list > .row > [class*="col-"] {
  display: table-cell;
  height: 100%;
  /* margin: 1px; */
  /* border: 1px solid transparent; */
  padding: 0;
  /* background-color: #cccccc; */
  float: none;
  clear: both;
  vertical-align: middle;
  /* border: 1px solid red; */
}
.t-left {
    text-align: left !important;
}
.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}
.list > .row > a[class*="col-"] {
  /* min-width: 50px; */
  /* text-decoration: none; */
  /* display: table-cell; */
  /* height: 100%; */
  /* background-color: #bbbbbb; */
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .content,
  .list_support {
    max-width: 100%;
    margin: 0 0 10px;
    width: 100%;
  }
}

@media (min-width: 1024px) {

}


/**********************************/
/**  TEXTS, INPUTS AND OTHERS  **/
/**********************************/

input:not([type=image]):not([type=checkbox]):not([type=radio]):not([class*="mce-"]),
label:not([class*="mce-"]),
p,
textarea {
  display: inline-block;
  width: 100%;
  padding: .50rem .50rem;
  text-decoration: none;
  /* font-size: 1rem; */
  /* line-height: 1.5; */
}
.btn {
  padding: .50rem .50rem;
}
.btn,
.btn:hover {
  /* display: inline-block; */
  /* width: 100%; */
  text-decoration: none;
  color: inherit;
  /* font-size: 1rem; */
  /* line-height: 1.5; */
}
.btn:not([class*="col"]) {
  /* padding: .50rem .50rem; */
}
.list > .row > .btn {
  padding: .50rem .50rem;
  border-radius: 0;
}
*[class*="col-"]:not(.col-auto) {
  /* min-width: 48px; */
  /* min-height: 2.3rem; */
}
.list *[class*="col-"]:not(.col-auto) {
  min-width: 48px;
  min-height: 2.3rem;
}
input[type=image] {
  width: auto;
  padding: 0;
}
input[type=checkbox],
input[type=radio] {
  width: auto;
  margin: .50rem .75rem;
}
select:not([class*="mce-"]) {
  display: inline-block;
  width: 100%;
  padding: .25rem .75rem;
  line-height: 2.3;
  /* outline: none; */
}
/* label:not([class*="mce-"]) { */
/*   width: 100%; */
/*   position: relative; */
/*   display: inline-block; */
/* } */
.checkbox-list label,
.radio-list label {
  display: inline-block;
  /* background: #dddddd; */
  width: auto;
  margin: 2px 0px;
  padding: .50rem .50rem;
  cursor: pointer;
}
.checkbox-list label p,
.radio-list label p {
  width: auto;
  display: inline-block;
}
span.help {
  font-size: 80%;
  font-style: italic;
}

.row > div {
  /* vertical-align: middle; */
}
.row.row-submit {
  margin-top: 20px;
}

@media (max-width: 480px) {
  input:not([type=image]):not([type=checkbox]):not([type=radio]):not([class*="mce-"]),
  label:not([class*="mce-"]),
  p,
  .btn,
  textarea {
    padding: .50rem .50rem;
  }
  .list > .row > .btn {
    padding: .50rem .50rem;
  }
  *[class*="col-"] {
    /* min-width: 48px; */
    min-height: 0;

  }
  .list *[class*="col-"]:not(.col-auto) {
    min-width: 48px;
  }
  input[type=checkbox],
  input[type=radio] {
    margin: .50rem .25rem;
  }
  .checkbox-list label,
  .radio-list label {
    width: 100%;
    text-align: left;
  }
  .checkbox-list label input,
  .radio-list label input {
    /* float: right; */
  }
}


/**********************************/
/**  MIDDLE NAVBAR  **/
/**********************************/

@media (min-width: 1024px) {
  #NavBarColumn.navbar {
    position: relative;
  }
  #NavBarColumn.navbar ul {
    height: auto;
    position: relative;
  }
  #NavBarColumn.navbar ul li {
    display: block;
    text-align: left;
    overflow: hidden;
    float: none;
    clear: both;
    width: 100%;
    min-height: 50px;
  }
  #NavBarColumn.navbar li.icon-responsive {
    display: none;
  }

  #NavBarColumn.navbar .dropbtn {
    cursor: default;
    background-color: rgba(255,255,255,0);
  }
  #NavBarColumn.navbar .dropdown-content {
    position: relative;
    width: 100%;
    max-height: 500px;
    box-shadow: none;
  }
  #NavBarColumn.navbar .dropdown-item {
    float: none;
    clear: both;
    text-align: left;
    width: 100%;
    padding-left: 20px;
    padding-right: 0px;
  }
  #NavBarColumn.navbar ul li.dropdown {
    height: auto;
  }
  #NavBarColumn.navbar ul li.dropdown img {
    display: none;
  }
  #NavBarColumn ul li > a {
    min-height: 50px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  #NavBarColumn.navbar {
    display: inline-block;
    width: auto;
  }
  #NavBarColumn.navbar.expanded {
    width: 100%;
  }
  #NavBarColumn.expanded ul li.dropdown.right .dropdown-content {
    right: 7px;
  }
  #NavBarColumn:not(.expanded) ul li.dropdown.right .dropdown-content {
    right: auto;
  }
}

/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************/
/**  MODAL STYLES  **/
/**********************************/

#mysbOverlay {
  position: fixed;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.modal {
  display: inline-block;
  z-index: 10000 !important;
  width: 768px;
  top: 10px;
  bottom: 25%;
  margin-top: 10px;
}
div#overlaySize { /* TODO */
  display:none;
}
#contentWrap .content {
  margin-bottom: 0;
}

/* default close button positioned on upper right corner */
.modal .close {
  position:absolute;
  z-index: 10010;
  right: 5px;
  top: 10px;
  cursor: pointer;
  height: 45px;
  width: 45px;
  opacity: 1;
  transition: opacity .15s ease-in-out;
}
.modal .close:hover {
  opacity: 1;
  transition: opacity .15s ease-in-out;
}
.close img {
  min-height: 48px;
}


/**********************************/
/**  MODAL TITLE  **/
/**********************************/

div.modalTitle {
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  vertical-align: middle;
  position: relative;
  display: table;
  padding: 0;
  margin: 0px 0px 0px;
  border-collapse:separate;
  border-spacing:0px 0px;
  width: 100%;
  text-align: left;
}

div.modalBody {
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  margin-bottom: 1px; /*  */
}

div.modalFoot {
  display: table;
  text-align: center;
  z-index: 10001;
  border-collapse:separate;
  border-spacing:0px 0px;
  width: 100%;
  padding: 3px 0;
  margin: 0px 0px 0px;
}

div.modalBodyFoot {
  display: inline-block;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
}

.modalTitle > [class*="col-"],
.modalFoot > [class*="col-"] {
  display: table-cell;
  height: 100%;
  float: none;
  clear: both;
  vertical-align: middle;
}
.modalTitle h1 {
  width: 100%;
  font-size: 110%;
  text-align: left;
}
.modalTitle *[class*="col-"] {
  min-width: 52px;
}

/**********************************/
/**  MODAL MECHANICS  **/
/**********************************/

@media (min-width: 1124px) { /* +100px for closing cross */
  .modal {
    width: 760px;
  }
}

@media (max-width: 868px) { /* +100px for closing cross */
  .modal {
    width: 470px;
  }
}

@media (max-width: 580px) { /* +100px for closing cross */
  .modal {
    width: auto;
    max-width: 470px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
  }
  .modal .close {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 0;
    border: 0;
    text-align: right;
  }
}


div.modalBody,
div.modalBodyFoot {
  overflow-y: auto;
}
@media (max-width: 580px) { /* +100px for closing cross */
  div.modalContent {
    overflow-y: auto;
  }
  div.modalBody,
  div.modalBodyFoot {
    overflow-y: visible;
  }
}


/**********************************/
/**  MODAL ACTIVATION  **/
/**********************************/

#mysbOverlay {
  opacity: 0;
  z-index: -20;
  -webkit-transition: opacity 0.2s,
              z-index 0s ease 0.2s;
  transition: opacity 0.2s,
              z-index 0s ease 0.2s;
}
#mysbOverlay.active {
  opacity: 1;
  z-index: 9995;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}


/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************/
/**  Alerts: #mysbAlerts  **/
/**********************************/

#mysbAlerts {
  padding: 5px;
  width: 100%;
  cursor:default;
  text-align: center;
}

#mysbAlerts > div {
  display: inline-block;
  max-width: 450px;
  width: 100%;
  margin: 5px 0px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: #ffca92;
  border: 4px solid red;
}

#mysbAlerts > div > div {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  padding: 0px 10px;
  text-align: left;
}


/**********************************/
/**  Tip Messages: #mysbMessages  **/
/**********************************/

#mysbMessages {
  font-size: 80%;
  position: fixed;
  padding: 5px;
  width: 250px;
  max-width: 90%;
  right: 20px;
  bottom: 20px;
  cursor:default;
  border-radius: 5px;
  background-color: #ffca92;
}
#mysbMessages > div {
  width: 100%;
}
#mysbMessages > div > div {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  padding: 0px 10px;
}

#mysbMessages {
  opacity: 0;
  box-shadow: 0 0 .1rem .3rem rgba(255,0,0,0);
  z-index: -20;
  max-height: 0px;
  -webkit-transition:
    opacity 3s ease 3s,
    box-shadow 3s ease 3s,
    z-index 0s ease 6s,
    max-height 0s ease 6s;
  transition:
    opacity 3s ease 5s,
    box-shadow 3s ease 5s,
    z-index 0s ease 8s,
    max-height 0s ease 8s;
}

#mysbMessages.activation {
  opacity: 1;
  box-shadow: 0 0 .1rem .3rem rgba(255,0,0,.9);
  z-index: 10005;
  max-height: 500px;
  -webkit-transition:
    opacity 0s,
    box-shadow 0s,
    z-index 0s,
    max-height 0s;
  transition:
    opacity 0s,
    box-shadow 0s,
    z-index 0s,
    max-height 0s;
}

@media (max-width: 480px) {
  #mysbMessages {
    width: 600px;
  }
}


/**********************************/
/**  SQL LOG BOX  **/
/**********************************/

#LoginDropDown div.row,
#LoginDropDown div.row > * {
  width: 100%;
}
#LoginDropDown div.row {
  padding: 6px 16px;
  display: block;
  text-align: left !important;
  width: 100%;
}



#mysbLogSql {
  display:block;
  width: 80%;
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 25px 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#mysbLogSql p {
  margin: 0px auto 0px auto;
  width: 70%;
  padding: 10px;
  color: white;
  background-color: #bb0000;
  font-size: 80%;
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  #mysbLogSql,
  #mysbLogSql p {
    width: 100%;
  }
}

@media (max-width: 480px) {
   #mysbLogSql {
    display: none;
   }
}


/**********************************/
/**  TOOLTIPS  **/
/**********************************/

.tooltip
{
  text-decoration:none;
  overflow: visible;
}


.tooltip span
{
  display:block;
  position:absolute;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white;
  margin: 0;
  overflow: visible;
  padding: 0;
  width:320px;
}
.tooltip span.left
{
  right: 0px;
}

.tooltip span img
{
  float:left;
  margin:0px 8px 8px 0;
}

.tooltip span {
  box-shadow: none;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  z-index: -20;
  -webkit-transition:
    opacity 0.4s,
    box-shadow 0.4s,
    z-index 0s ease 0.4s,
    max-height 0s ease 0.4s,
    max-width 0s ease 0.4s;
  transition:
    opacity 0.4s,
    box-shadow 0.4s,
    z-index 0s ease 0.4s,
    max-height 0s ease 0.4s,
    max-width 0s ease 0.4s,
    margin 0s ease 0.4s,
    padding 0s ease 0.4s;
}

.tooltip:hover span {
  box-shadow: 0 0 .2rem .2rem rgba(50,50,50,.4);
  max-height: 500px;
  max-width: 500px;
  opacity: 1;
  z-index: 1000;
  -webkit-transition:
    opacity 0s,
    z-index 0s;
  transition:
    opacity 0s,
    z-index 0s;
  margin-top:12px;
  margin-left:32px;
  padding:8px;
}


/**********************************/
/**  SLIDES  **/
/**********************************/

.slide {
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  margin: 0;
  -webkit-transition:
    max-height 0.5s ease-in,
    opacity 0.5s ease-in;
  transition:
    max-height 0.5s ease-in,
    opacity 0.5s ease-in;
}
.slide.slide-toggling {
  max-height: 500px;
  opacity: 1;
}
.slide.slide-untoggling {
  max-height: 500px;
  opacity: 1;
  -webkit-transition:
    max-height 0s,
    opacity 0s;
  transition:
    max-height 0s,
    opacity 0s;
}
.slide.slide-toggled {
  overflow: visible;
  max-height: 20000px;
  opacity: 1;
  -webkit-transition:
    max-height 0s,
    opacity 0s;
  transition:
    max-height 0s,
    opacity 0s;
}


/**********************************/
/**  SPECIALS STYLES  **/
/**********************************/

input[type="checkbox"].mysbValue-checkbox {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: .50rem;
}
a.mysbValue-directlink-img {
  padding: .0rem .20rem;
}
a > img.mysbValue-directlink {
  padding: .20rem .20rem;
}
@media (max-width: 480px) {
  a.mysbValue-directlink-img {
    position: absolute;
    top: 5px;
    right: 5px;
    min-width: 48px;
    padding: .20rem .20rem;
  }
}


/**********************************/
/**  OBSOLETE STYLE  **/
/**********************************/

div.boxed {
  text-align: left;
}
div.list_support div.boxed,
div.boxed div.row {
  padding: 5px 10px;
  min-height: 60px;
}
div.row > div.right {
  /* float: right; */
  /* display: inline-block; */
  right: 0;
  position: absolute;
}
div.boxed p {
  text-align: left;
}



/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************
**  GLOBAL STYLES
***********************************/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
}
#mysbBody {
  background-color: white;
}
a {
  color: black;
  -webkit-transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
a:hover {
  color: #0059b3; /* bg-secondary color */
  z-index: 1;
}

input:not([type=image]):not([class*="mce-"]),
.btn,
textarea {
  background-clip: padding-box;
  border-radius: .25rem;
  -webkit-transition:
    color .15s ease-in-out,
    border-color .15s ease-in-out,
    background-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  transition:
    color .15s ease-in-out,
    border-color .15s ease-in-out,
    background-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
input:not([type=image]):not([class*="mce-"]):not([class*="btn-"]),
textarea {
  color: #444444;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
}
select {
  color: #444444;
}
input:focus,
textarea:focus {
    border-color: #aaaaaa;
    outline: 0;
    box-shadow: 0 0 .1rem .1rem #aaaaaa;
}
select:focus {
  box-shadow: 0 0 .1rem .1rem #aaaaaa;
}
.label {
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}
.label:hover, .label:focus,
.checkbox-list label,
.radio-list label {
  background-color: #eeeeee;
  transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}
.checkbox-list label:not([class*="mce-"]):hover,
.radio-list label:not([class*="mce-"]):hover,
.checkbox-list label:not([class*="mce-"]):focus,
.radio-list label:not([class*="mce-"]):focus {
  background-color: #dddddd;
}

/*** Primary color ***/
.bg-primary,
.btn-primary {
  background-color: #333333; /* rgb(0, 64, 128) 25% 35% / 85% 75% */
  color: white;
}
.btn-primary:hover {
  box-shadow: 0 0 .2rem .1rem #404040;
  background-color: #404040;
  color: white;
}
.bg-primary-light,
.btn-primary-light {
  background-color: #cccccc;
  color: black;
}
.btn-primary-light:hover {
  box-shadow: 0 0 .2rem .1rem #bfbfbf;
  background-color: #bfbfbf;
  color: black;
}
/*** Danger color ***/
.bg-danger,
.btn-danger {
  background-color: #800000; /* rgb(128, 0, 0) 25% 35% / 85% 75% */
  color: white;
}
.btn-danger:hover {
  box-shadow: 0 0 .2rem .1rem rgba(220,53,69,.75);
  background-color: #b30000;
  color: white;
}
.bg-danger-light,
.btn-danger-light {
  background-color: #ff8080;
  color: black;
}
.btn-danger-light:hover {
  box-shadow: 0 0 .2rem .1rem #ff6666;
  background-color: #ff6666;
  color: black;
}
/*** Success color ***/
.bg-success,
.btn-success {
  background-color: #008000; /* rgb(0, 128, 0) 25% 35% / 85% 75% */
  color: white;
}
.btn-success:hover {
  background-color: #00b300;
  box-shadow: 0 0 .2rem .1rem rgba(40,167,69,.75);
  color: white;
}
.bg-success-light,
.btn-success-light {
  background-color: #66ff66;
  color: black;
}
.btn-success-light:hover {
  box-shadow: 0 0 .2rem .1rem #4dff4d;
  background-color: #4dff4d;
  color: black;
}
/*** Secondary color ***/
.bg-secondary,
.btn-secondary {
  background-color: #0059b3;  /* rgba(0,89,179,1) V: 100/85 35/20 */
  color: white;
}
.btn-secondary:hover {
  background-color: #1a66b3;
  box-shadow: 0 0 .2rem .1rem #1a66b3;
  color: white;
}
.bg-secondary-light,
.btn-secondary-light {
  background-color: #7493b3;
  color: black;
}
.btn-secondary-light:hover {
  box-shadow: 0 0 .2rem .1rem #90a1b3;
  background-color: #90a1b3;
  color: black;
}
/*** Light color ***/
.bg-light {
  background-color: rgba(255,255,255,1);
  color: black;
}
.btn-light {
  background-color: rgba(255,255,255,0);
}
.btn-light:hover,
.btn-light:focus {
  background-color: rgba(255,255,255,.25);
  box-shadow: 0 0 .2rem .1rem rgba(255,255,255,.5);
}
/*** Dark color ***/
.bg-dark {
  background-color: rgba(51,51,51,1);
  color: white;
}
.btn-dark {
  background-color: rgba(51,51,51,0);
}
.btn-dark:hover,
.btn-dark:focus {
  background-color: rgba(51,51,51,.25);
  box-shadow: 0 0 .2rem .1rem rgba(255,255,255,.5);
}

/*** Foreground color ***/
.fg-light,
.fg-light:hover {
  color: white;
  text-decoration: none;
}
/*** Foreground color ***/
.fg-dark,
.fg-dark:hover {
  color: black;
  text-decoration: none;
}
/*** List hover don't have shadow ***/
.list > .row > [class*="col-"]:hover {
  box-shadow: none;
}

input.is-invalid,
input.is-invalid:focus {
  border-color: rgba(220, 53, 69, .75);
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
}

.content span.help {
  color: rgba(108,117,125, 1);
}


/**********************************
**  NAVBAR STYLES
***********************************/

.navbar ul,
.navbar li,
.navbar a:not(:hover),
.navbar1 li > span a:not(:hover),
.dropdown-content,
.dropdown-item1 > a:not(:hover),
.dropdown-item > div,
.dropdown-item > span {
  background-color: #333;
  color: white;
}
.navbar li > a:hover,
.navbar a.dropbtn:hover,
.dropdown-item > a:hover {
  background-color: #0059b3;
  color: white;
}
.navbar li > a.danger:hover,
.navbar a.danger.dropbtn:hover,
.dropdown-item > a.danger:hover {
  background-color: #800000;
  color: white;
}
.navbar li > a.success:hover,
.navbar a.success.dropbtn:hover,
.dropdown-item > a.success:hover {
  background-color: #008000;
  color: white;
}
.navbar li > a.secondary:hover,
.navbar a.secondary.dropbtn:hover,
.dropdown-item > a.secondary:hover {
  background-color: rgba(108,117,125,1);
  color: white;
}

#mysbMiddle .navbar li.icon-responsive a:not(:hover),
#mysbMiddle .navbar ul li.no-collapse > a:not(:hover),
#mysbMiddle .navbar .dropdown-item.no-collapse > a:not(:hover)  {
  background-color: rgba(255,255,255,.25);
}


/**********************************
**  CONTENT STYLES
***********************************/

#mysbMiddle .content:not(.list) h1 {
  border-bottom: 2px solid #e1e1e1;
}

#mysbMiddle .content,
#mysbMiddle .list_support {
  border-radius: .5rem;
  box-shadow: 0 0 .2rem .2rem rgba(50,50,50,.4);
  text-align: left;
}
#mysbMiddle .content.advert {
  background-color: #ffe9ae;
  box-shadow: 0 0 .1rem .2rem rgba(220,74,0,.7);
}
.row.border-top,
h1.border-top,
h2.border-top,
h3.border-top,
.row.content-divider {
  border-top: 2px solid #e1e1e1;
  padding-top: .3rem;
  padding-bottom: .3rem;
}
.row.border-bottom,
h1.border-bottom,
h2.border-bottom,
h3.border-bottom {
  border-bottom: 2px solid #e1e1e1;
  padding-top: .3rem;
  padding-bottom: .3rem;
}
#mysbMiddle .list {
  box-shadow: none;
  border-radius: 0;
}
#mysbMiddle .list > .row {
  /* background-color: rgba(220,220,220,.7); */
}


@media (max-width: 480px) {
#mysbMiddle .content,
#mysbMiddle .content.advert
{
  box-shadow: none;
  border-radius: 0;
}
#mysbMiddle .content:not(:first-child):not(.advert):not(.list),
#mysbMiddle .content.border-top {
  border-top: 4px solid #444444;
}
}


/**********************************/
/**  MODAL STYLES  **/
/**********************************/

#mysbOverlay {
  background-color: rgba(30,30,30,0.8);
}
div.modalTitle {
  background-color: #333;
  color: white;
}
.modal,
div.modalBody,
div.modalBodyFoot {
  background-color: #ffffff;
}
.modal {
  /* border: 2px solid #111111; */
  -webkit-box-shadow: 0 0 90px #000;
  box-shadow:0 0 90px 5px #000;
}

@media (max-width: 580px) { /* +100px for closing cross */
  .modal .close {
    background-color: #ffb3b3;
  }
  .modal .close:hover {
    background-color: #ff8080;
  }
}


/**********************************/
/**  PRINTING STYLES  **/
/**********************************/

@media print {

body {
  font: 70% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
}
#mysbTop {
  display: none;
}
div#allshadow {
  border-radius: 0px;
}
#mysbTop a {
  display: none;
}
table, tr {
  border: 2px solid black;
}
#mysbBottom {
  display: none;
}

div#mysbLogSql {
  display: none;
}

div#NavBarColumn {
    display: none;
}

}
