/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************
**  GLOBAL STYLES
***********************************/

a {
  color: black;
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}
a:hover {
  color: #007bff;
  /* background-color: transparent; */
  z-index: 1;
}

input:not([type=image]):not([class*="mce-"]),
.btn,
textarea {
    background-clip: padding-box;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
                border-color .15s ease-in-out,
                background-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}
input:not([type=image]):not([class*="mce-"]):not([class*="btn-"]),
textarea {
    color: #444444;
    background-color: #fff;
    border: 1px solid #cccccc;
}
input[type=image] {
    /* padding: 0; */
    /* margin: 2px 5px; */
}
input:focus,
textarea:focus {
    border-color: rgba(0,123,255,.5);
    outline: 0;
    box-shadow: 0 0 .1rem .1rem rgba(0,123,255,.5);
}
select:focus {
  box-shadow: 0 0 .1rem .1rem rgba(0,123,255,.5);
}
textarea {
  max-width: 100%;
}
.label {
  transition: background-color .15s ease-in-out;
}
.label:hover, .label:focus,
.checkbox-list label,
.radio-list label {
  background-color: rgba(0, 64, 128,.1);
  transition: background-color .15s ease-in-out;
}
.checkbox-list label:not([class*="mce-"]):hover,
.radio-list label:not([class*="mce-"]):hover,
.checkbox-list label:not([class*="mce-"]):focus,
.radio-list label:not([class*="mce-"]):focus {
  background-color: rgba(0, 64, 128,.2);
}

/*** Primary color ***/
.bg-primary,
.btn-primary {
  background-color: #004080; /* rgb(0, 64, 128) 25% 35% / 85% 75% */
  color: white;
}
.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0 0 .1rem .1rem rgba(0, 64, 128,.75);
  background-color: #0059b3;
  color: white;
}
.bg-primary-light,
.btn-primary-light {
  background-color: #b3d9ff;
  color: black;
}
.btn-primary-light:hover,
.btn-primary-light:focus {
  box-shadow: 0 0 .1rem .1rem rgba(0, 64, 128,.25);
  background-color: #80bfff;
  color: black;
}
/*** Danger color ***/
.bg-danger,
.btn-danger {
  background-color: #800000; /* rgb(128, 0, 0) 25% 35% / 85% 75% */
  color: white;
}
.btn-danger:hover,
.btn-danger:focus {
  box-shadow: 0 0 .1rem .1rem rgba(220,53,69,.75);
  background-color: #b30000;
  color: white;
}
.bg-danger-light,
.btn-danger-light {
  background-color: #ffb3b3;
  color: black;
}
.btn-danger-light:hover,
.btn-danger-light:focus {
  box-shadow: 0 0 .1rem .1rem rgba(220,53,69,.25);
  background-color: #ff8080;
  color: black;
}
/*** Success color ***/
.bg-success,
.btn-success {
  background-color: #008000; /* rgb(0, 128, 0) 25% 35% / 85% 75% */
  color: white;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #00b300;
  box-shadow: 0 0 .1rem .1rem rgba(40,167,69,.75);
  color: white;
}
.bg-success-light,
.btn-success-light {
  background-color: #b3ffb3;
  color: black;
}
.btn-success-light:hover,
.btn-success-light:focus {
  box-shadow: 0 0 .1rem .1rem rgba(40,167,69,.25);
  background-color: #80ff80;
  color: black;
}
/*** Secondary color ***/
.bg-secondary,
.btn-secondary {
  background-color: rgba(36,36,36,1);
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: rgba(26,26,26,1);
  box-shadow: 0 0 .1rem .1rem rgba(26,26,26,.75);
  color: white;
}
.bg-secondary-light,
.btn-secondary-light {
  background-color: rgba(255,255,255,.0);
  color: black;
}
.btn-secondary-light:hover,
.btn-secondary-light:focus {
  box-shadow: 0 0 .1rem .1rem rgba(108,117,125,.25);
  background-color: rgba(255,255,255,.3);
  color: black;
}

input.is-invalid,
input.is-invalid:focus {
  border-color: rgba(220, 53, 69, .75);
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
}

.content span.help {
  color: rgba(108,117,125, 1);
}


/**********************************
**  NAVBAR STYLES
***********************************/

.navbar ul,
.navbar li,
.navbar a:not(:hover),
.navbar1 li > span a:not(:hover),
.dropdown-content,
.dropdown-item1 > a:not(:hover),
.dropdown-item > div,
.dropdown-item > span {
  background-color: #333;
  color: white;
}
.navbar li > a:hover,
.navbar a.dropbtn:hover,
.dropdown-item > a:hover {
  background-color: #0059b3;
  color: white;
}
.navbar li > a.danger:hover,
.navbar a.danger.dropbtn:hover,
.dropdown-item > a.danger:hover {
  background-color: #b30000;
  color: white;
}
.navbar li > a.success:hover,
.navbar a.success.dropbtn:hover,
.dropdown-item > a.success:hover {
  background-color: #00b300;
  color: white;
}
.navbar li > a.secondary:hover,
.navbar a.secondary.dropbtn:hover,
.dropdown-item > a.secondary:hover {
  background-color: rgba(108,117,125,1);
  color: white;
}

#mysbMiddle .navbar li.icon-responsive a:not(:hover),
#mysbMiddle .navbar ul li.no-collapse > a:not(:hover) {
  background-color: rgba(255,255,255,.25);
}


/**********************************
**  CONTENT STYLES
***********************************/

#mysbMiddle .content:not(.list) h1 {
  border-bottom: 2px solid #e1e1e1;
}

#mysbMiddle .content,
#mysbMiddle .list_support {
  border-radius: .5rem;
  box-shadow: 0 0 .2rem .2rem rgba(50,50,50,.4);
  text-align: left;
}
#mysbMiddle .content.advert {
  background-color: #ffe9ae;
  box-shadow: 0 0 .1rem .2rem rgba(220,74,0,.7);
}
.border-top,
.content-divider {
  border-top: 2px solid #e1e1e1;
  padding-top: .5em;
}
.border-bottom {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: .5em;
}
#mysbMiddle .list {
  box-shadow: none;
  border-radius: 0;
}
#mysbMiddle .list > .row {
  /* background-color: rgba(220,220,220,.7); */
}


@media (max-width: 480px) {
#mysbMiddle .content,
#mysbMiddle .content.advert
{
  box-shadow: none;
  border-radius: 0;
}
#mysbMiddle .content:not(:first-child):not(.advert):not(.list),
#mysbMiddle .content.border-top {
  border-top: 4px solid #333333;
}
}


/**********************************/
/**  MODAL STYLES  **/
/**********************************/

#mysbOverlay {
  background-color: rgba(30,30,30,0.8);
}
div.modalTitle {
  background-color: #333;
  color: white;
}
.modal,
div.modalBody,
div.modalBodyFoot {
  background-color: #ffffff;
}
.modal {
  /* border: 2px solid #111111; */
  box-shadow:0 0 90px 5px #000;
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}


@media print {

body {
font: 70% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
}

#mysbTop {
    display: none;
}
div#allshadow {
    border-radius: 0px;
}
#mysbTop a {
    display: none;
}
table, tr {
    border: 2px solid black;
}
#mysbBottom {
    display: none;
}

div#mysbLogSql {
    display: none;
}

div#NavBarColumn {
    display: none;
}
}
