/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


/**********************************
**  GLOBAL STYLES
***********************************/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
}
#mysbBody {
  background-color: white;
}
a {
  color: black;
  -webkit-transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
a:hover {
  color: #0059b3; /* bg-secondary color */
  z-index: 1;
}

input:not([type=image]):not([class*="mce-"]),
.btn,
textarea {
  background-clip: padding-box;
  border-radius: .25rem;
  -webkit-transition:
    color .15s ease-in-out,
    border-color .15s ease-in-out,
    background-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  transition:
    color .15s ease-in-out,
    border-color .15s ease-in-out,
    background-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
input:not([type=image]):not([class*="mce-"]):not([class*="btn-"]),
textarea {
  color: #444444;
  background-color: #ffffcc;
  border: 1px solid #cccccc;
}
select {
  color: #444444;
}
input:focus,
textarea:focus {
    border-color: #aaaaaa;
    outline: 0;
    box-shadow: 0 0 .1rem .1rem #aaaaaa;
}
select:focus {
  box-shadow: 0 0 .1rem .1rem #aaaaaa;
}
.label {
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}
.label:hover, .label:focus,
.checkbox-list label,
.radio-list label {
  background-color: #eeeeee;
  transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}
.checkbox-list label:not([class*="mce-"]):hover,
.radio-list label:not([class*="mce-"]):hover,
.checkbox-list label:not([class*="mce-"]):focus,
.radio-list label:not([class*="mce-"]):focus {
  background-color: #dddddd;
}

/*** Primary color ***/
.bg-primary,
.btn-primary {
  background-color: #333333; /* rgb(0, 64, 128) 25% 35% / 85% 75% */
  color: white;
}
.btn-primary:hover {
  box-shadow: 0 0 .2rem .1rem #404040;
  background-color: #404040;
  color: white;
}
.bg-primary-light,
.btn-primary-light {
  background-color: #cccccc;
  color: black;
}
.btn-primary-light:hover {
  box-shadow: 0 0 .2rem .1rem #bfbfbf;
  background-color: #bfbfbf;
  color: black;
}
/*** Danger color ***/
.bg-danger,
.btn-danger {
  background-color: #800000; /* rgb(128, 0, 0) 25% 35% / 85% 75% */
  color: white;
}
.btn-danger:hover {
  box-shadow: 0 0 .2rem .1rem rgba(220,53,69,.75);
  background-color: #b30000;
  color: white;
}
.bg-danger-light,
.btn-danger-light {
  background-color: #ff8080;
  color: black;
}
.btn-danger-light:hover {
  box-shadow: 0 0 .2rem .1rem #ff6666;
  background-color: #ff6666;
  color: black;
}
/*** Success color ***/
.bg-success,
.btn-success {
  background-color: #008000; /* rgb(0, 128, 0) 25% 35% / 85% 75% */
  color: white;
}
.btn-success:hover {
  background-color: #00b300;
  box-shadow: 0 0 .2rem .1rem rgba(40,167,69,.75);
  color: white;
}
.bg-success-light,
.btn-success-light {
  background-color: #66ff66;
  color: black;
}
.btn-success-light:hover {
  box-shadow: 0 0 .2rem .1rem #4dff4d;
  background-color: #4dff4d;
  color: black;
}
/*** Secondary color ***/
.bg-secondary,
.btn-secondary {
  background-color: #0059b3;  /* rgba(0,89,179,1) V: 100/85 35/20 */
  color: white;
}
.btn-secondary:hover {
  background-color: #1a66b3;
  box-shadow: 0 0 .2rem .1rem #1a66b3;
  color: white;
}
.bg-secondary-light,
.btn-secondary-light {
  background-color: #7493b3;
  color: black;
}
.btn-secondary-light:hover {
  box-shadow: 0 0 .2rem .1rem #90a1b3;
  background-color: #90a1b3;
  color: black;
}
/*** Light color ***/
.bg-light {
  background-color: rgba(255,255,255,1);
  color: black;
}
.btn-light {
  background-color: rgba(255,255,255,0);
}
.btn-light:hover,
.btn-light:focus {
  background-color: rgba(255,255,255,.25);
  box-shadow: 0 0 .2rem .1rem rgba(255,255,255,.5);
}
/*** Dark color ***/
.bg-dark {
  background-color: rgba(51,51,51,1);
  color: white;
}
.btn-dark {
  background-color: rgba(51,51,51,0);
}
.btn-dark:hover,
.btn-dark:focus {
  background-color: rgba(51,51,51,.25);
  box-shadow: 0 0 .2rem .1rem rgba(255,255,255,.5);
}

/*** Foreground color ***/
.fg-light,
.fg-light:hover {
  color: white;
  text-decoration: none;
}
/*** Foreground color ***/
.fg-dark,
.fg-dark:hover {
  color: black;
  text-decoration: none;
}
/*** List hover don't have shadow ***/
.list > .row > [class*="col-"]:hover {
  box-shadow: none;
}

input.is-invalid,
input.is-invalid:focus {
  border-color: rgba(220, 53, 69, .75);
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
}

.content span.help {
  color: rgba(108,117,125, 1);
}


/**********************************
**  NAVBAR STYLES
***********************************/

.navbar ul,
.navbar li,
.navbar a:not(:hover),
.navbar1 li > span a:not(:hover),
.dropdown-content,
.dropdown-item1 > a:not(:hover),
.dropdown-item > div,
.dropdown-item > span {
  background-color: #333;
  color: white;
}
.navbar li > a:hover,
.navbar a.dropbtn:hover,
.dropdown-item > a:hover {
  background-color: #0059b3;
  color: white;
}
.navbar li > a.danger:hover,
.navbar a.danger.dropbtn:hover,
.dropdown-item > a.danger:hover {
  background-color: #800000;
  color: white;
}
.navbar li > a.success:hover,
.navbar a.success.dropbtn:hover,
.dropdown-item > a.success:hover {
  background-color: #008000;
  color: white;
}
.navbar li > a.secondary:hover,
.navbar a.secondary.dropbtn:hover,
.dropdown-item > a.secondary:hover {
  background-color: rgba(108,117,125,1);
  color: white;
}

#mysbMiddle .navbar li.icon-responsive a:not(:hover),
#mysbMiddle .navbar ul li.no-collapse > a:not(:hover),
#mysbMiddle .navbar .dropdown-item.no-collapse > a:not(:hover)  {
  background-color: rgba(255,255,255,.25);
}


/**********************************
**  CONTENT STYLES
***********************************/

#mysbMiddle .content:not(.list) h1 {
  border-bottom: 2px solid #e1e1e1;
}

#mysbMiddle .content,
#mysbMiddle .list_support {
  border-radius: .5rem;
  box-shadow: 0 0 .2rem .2rem rgba(50,50,50,.4);
  text-align: left;
}
#mysbMiddle .content.advert {
  background-color: #ffe9ae;
  box-shadow: 0 0 .1rem .2rem rgba(220,74,0,.7);
}
.row.border-top,
h1.border-top,
h2.border-top,
h3.border-top,
.row.content-divider {
  border-top: 2px solid #e1e1e1;
  padding-top: .3rem;
  padding-bottom: .3rem;
}
.row.border-bottom,
h1.border-bottom,
h2.border-bottom,
h3.border-bottom {
  border-bottom: 2px solid #e1e1e1;
  padding-top: .3rem;
  padding-bottom: .3rem;
}
#mysbMiddle .list {
  box-shadow: none;
  border-radius: 0;
}
#mysbMiddle .list > .row {
  /* background-color: rgba(220,220,220,.7); */
}


@media (max-width: 480px) {
#mysbMiddle .content,
#mysbMiddle .content.advert
{
  box-shadow: none;
  border-radius: 0;
}
#mysbMiddle .content:not(:first-child):not(.advert):not(.list),
#mysbMiddle .content.border-top {
  border-top: 4px solid #444444;
}
}


/**********************************/
/**  MODAL STYLES  **/
/**********************************/

#mysbOverlay {
  background-color: rgba(30,30,30,0.8);
}
div.modalTitle {
  background-color: #333;
  color: white;
}
.modal,
div.modalBody,
div.modalBodyFoot {
  background-color: #ffffff;
}
.modal {
  /* border: 2px solid #111111; */
  -webkit-box-shadow: 0 0 90px #000;
  box-shadow:0 0 90px 5px #000;
}

@media (max-width: 580px) { /* +100px for closing cross */
  .modal .close {
    background-color: #ffb3b3;
  }
  .modal .close:hover {
    background-color: #ff8080;
  }
}


/**********************************/
/**  PRINTING STYLES  **/
/**********************************/

@media print {

body {
  font: 70% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
}
#mysbTop {
  display: none;
}
div#allshadow {
  border-radius: 0px;
}
#mysbTop a {
  display: none;
}
table, tr {
  border: 2px solid black;
}
#mysbBottom {
  display: none;
}

div#mysbLogSql {
  display: none;
}

div#NavBarColumn {
    display: none;
}

}
