config.php
phpmailer.conf
phpmailer.conf.php
modules/*
!modules/blank
!modules/example
.htaccess
log/*
!log/index.html
custom/*
jscripts/tinymce
vendor/*
tmp/*
1ereNL/*
images/*.*
images/dcom/*
tags.*
phpmailer.*
composer.phar
composer.lock
*.code*