/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/

* {
margin: 0px;
}

/*
*   COLOR SETTINGS
*/
body, a, input {
color: #000000;
}
body {
background-color: #444444;
}
div#allshadow {
background-color: #555555;
}
#overlayBg {
background-color: rgba(70,70,70,0.7);
}

div#logbox,
div#mysbTop,
div#mysbMiddle,
div#mysbBottom {
background-color: #dddddd;
}
div#mysbTop,
div#mysbMiddle {
border-bottom: 2px solid #222222;
}
#mysbTop ul.menu.left li {
border-right: 2px solid #222222;
}
#mysbTop ul.menu.right li {
border-left: 2px solid #222222;
}

div#menu2box,
#mysbTop ul.menu li,
.mysb_overlay .close,
div.overHead .action,
div.overFoot input[type=submit].action,
div.overFoot a.action {
background-color: #bbbbbb;
}

#mysbMiddle div.list_support div.title,
div.overHead,
div.overFoot {
background-color: #dddddd;
}
.mysb_overlay,
#mysbMiddle div.list_support div.row,
#mysbMiddle div.boxed div.row,
#mysbMiddle p,
div.overBody,
div.overBodyFoot {
background-color: #ffffff;
}

.mysb_overlay {
border: 2px solid #111111;
box-shadow:0 0 90px 5px #000;
-moz-box-shadow:0 0 90px 5px #000;
-webkit-box-shadow: 0 0 90px #000;
}

#mysbMiddle div.boxed div.title,
#mysbMiddle h1,
#mysbMiddle h2,
#mysbMiddle h3,
div#mysbMenuLevel,
div#mysbMenuLevelSwitch {
background-color: #aaaaaa;
}
#mysbTopMenu a,
#mysbMenuLevel a,
input[type=submit]:active,
.button,
.cell {
background-color: #cccccc;
}

#mysbMiddle h4,
#mysbMiddle ul,
#mysbMiddle div.table_support {
background-color: transparent;
}

a:hover {
color: #000000;
}
#mysbTopMenu a:hover,
.button:hover,
#mysbMenuLevel a:hover,
div.overHead .action:hover,
.mysb_overlay .close:hover,
div.overFoot .button:hover,
div.overFoot input[type=submit]:hover,
#mysbTop ul.menu li:hover,
.mysb_overlay .close:hover,
div.overHead .action:hover,
div.overFoot input[type=submit].action:hover,
div.checkboxlist {
background-color: #dddddd;
color: #000000;
}
textarea, 
input[type=text],
input[type=password],
input[type=checkbox],
input[type=email],
input[type=tel], 
input[type=url], 
select,
body.tinymce {
background: #eeeeee;
}

input[type=submit],
input[type=button],
.button {
background-color: #aaaaaa;
border: 0px solid #222222;
}
input[type=submit]:hover,
input[type=button]:hover{
background-color: #bbbbbb;
color: #000000;
}

#mysbTop div.authbox,
#mysbMiddle div.authbox {
background-color: #aaaaaa;
}

#mysbMiddle div.table_support table {
background-color: #888888;
}
#mysbMiddle div.table_support tr {
background-color: #eeeeee;
}
#mysbMiddle div.table_support tr.title {
background-color: #aaaaaa;
}
#mysbMiddle div.table_support tr.odd {
background-color: #dddddd;
}
#mysbMiddle div.table_support tr.notodd {
background-color: #eeeeee;
}

#mysbMiddle div.advert,
div#mysbMessages,
#mysbMessages p,
div#mysbAlerts,
#mysbAlerts p {
background-color: #ffca92;
}

#mysbMiddle div.advert {
border: 2px solid red;
}
div#mysbMessages,
div#mysbAlerts {
border: 4px solid red;
}

#mysbMenuLevel a {
border: 1px solid #aaaaaa;
}
div.list_support div.row,
div.boxed div.row {
border-bottom: 1px solid #aaaaaa;
}

.help {
color: #333333;
}

.mysb_overlay .close {
    border-left: 2px solid #555555;
    border-bottom: 2px solid #555555;
}
.mysb_overlay .action {
    border-right: 2px solid #555555;
}
div.overHead {
    border-bottom: 2px solid #555555;
}
div.overFoot {
    border-top: 2px solid #555555;
}
div.overFoot input[type=submit].action.right,
div.overFoot a.action.right {
    border-left: 2px solid #555555;
}
div.overFoot input[type=submit].action.left,
div.overFoot a.action.left {
    border-right: 2px solid #555555;
}

div#logbox input[type=submit] {
border: 1px solid black;
}
div#logbox input[type=submit]:hover {
background-color: #cccccc;
}



/*
*   GLOBAL SETTINGS
*/
body,
input {
font: 14px sans-serif;
}
textarea {
font: 12px sans-serif;
}
body {
margin: 0px;
padding: 10px 10px 15px;
text-align: center;
overflow-y: scroll;
}
img {
border: 0px;
}
img.icon24 {
width: 24px;
}
div#allshadow {
width: 100%;
max-width: 1000px;
right: auto;
left: auto;
display: inline-block;
padding: 0px;
/* CSS3 styling for latest browsers */
moz-box-shadow:0 0 10px 5px #000;
webkit-box-shadow: 0 0 10px #000;
box-shadow: 2px 2px 8px 3px #000;
border-radius: 6px;
text-align: justify;
}
div#mysbTop1,
div#mysbMiddle,
div#mysbBottom {
position: relative;
width: auto;
}

.roundtop,
#overlay div.contentWrap div.overHead  {
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
border-top-left-radius: 6px;
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
border-top-right-radius: 6px;
}
.roundbottom {
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
}
div.content {
position: relative;
width: 100%;
vertical-align: top;
padding: 0px;
margin-bottom: 0px;
bottom: 0px;
display: inline-block;
}
#mysbMiddle ul li {
margin: 0px 35px 0px 35px;
}
input,
select,
input {
font-size: 100%;
}
input[type=submit],
input[type=button] {
margin: 0px;
padding: 4px 10px;
cursor: pointer;
font-weight: bold;
border-radius: 4px;
}
select,
input[type=text],
input[type=password],
input[type=checkbox],
input[type=email],
input[type=tel],
input[type=url] {
text-align: left;
margin: 1px;
padding: 2px;
}
.button {
display: inline-block;
margin: 0px;
padding: 5px 10px;
cursor: pointer;
text-decoration: none;
font-weight: bold;
text-align: center;
border-radius: 4px;
}
input[type=file] {
margin: 0px;
padding: 0px 5px;
}

div.checkboxlist {
display: inline-block;
margin: 2px 3px;
padding: 1px 3px;
}

/*
*   TOP BOX
*/

div.roundtop#mysbTop {
}
#mysbTop div.content {
}

#mysbTop ul.menu {
list-style-type: none;
font-size: 90%;
padding: 0px;
}
#mysbTop ul.menu.left {
float: left;
}
#mysbTop ul.menu.right {
float: right;
}

#mysbTop ul.menu li {
float: left;
max-width: 100px;
height: 100%;
vertical-align: middle;
cursor: pointer;
padding: 0px;
}
#mysbTop ul.menu li.top.first {
border-top-left-radius: 6px;
}
#mysbTop ul.menu li.top.last {
border-top-right-radius: 6px;
}
#mysbTop ul.menu li.bottom.first {
border-bottom-left-radius: 6px;
}
#mysbTop ul.menu li.bottom.last {
border-bottom-right-radius: 6px;
}

#mysbTop ul.menu li div.item {
display: inline-block;
height: 100%;
vertical-align: middle;
}

#mysbTop ul.menu li div.item a {
display: table-cell;
position: relative;
vertical-align: middle;
min-width: 50px;
height: 60px;
text-decoration: none;
padding: 0px 5px;
text-align: center;
font-weight: bold;
}

div#logbox {
z-index: 1001;
display: inline-block;
position: absolute;
top: 62px;
right: 0px;
left: auto;
border-radius: 0px;
border-bottom-left-radius: 6px;
box-shadow: -2px 2px 8px 3px #000;
}

div#menu2box {
z-index: 1000;
display: inline-block;
position: absolute;
top: 62px;
left: 0px;
right: auto;
border-radius: 0px;
border-bottom-right-radius: 6px;
box-shadow: 2px 2px 8px 3px #000;
}


/*
*   MIDDLE BOX
*/

div#mysbMiddle {
font-size: 90%;
padding: 0px;
}
#mysbMiddle div.content {
min-height: 120px;
}

div#mysbMenuSwitch {
display: inline-block;
width: 180px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}

div#mysbMenuLevel {
text-align: center;
padding: 0px 5px;
margin-bottom: 0px;
}

#mysbMenuLevel ul {
display: inline-block;
list-style-type: none;
margin: 0px;
padding: 6px 0px 2px;
}
#mysbMenuLevel ul li {
display: inline-block;
margin: 0px 0px;
float: left;
}
#mysbMenuLevel ul li.first {
margin-left: 3px;
}
#mysbMenuLevel ul li.last {
margin-right: 3px;
}
#mysbMenuLevel a {
margin: 0px;
padding: 2px 10px;
cursor: pointer;
text-decoration: none;
font-weight: bold;
}
#mysbMenuLevel ul li.first a {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
#mysbMenuLevel ul li.last a {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

#mysbMiddle h1 {
margin: 0px 0px 10px 0px;
padding: 5px 10px 5px 10px;
font-size: 150%;
text-align: center;
}
#mysbMiddle h2 {
margin: 8px 0px 8px 0px;
padding: 10px 5px 5px 5px;
width: auto;
font-size: 130%;
}
#mysbMiddle h3 {
margin: 4px 0px 4px 0px;
padding: 10px 15px 5px 15px;
font-size: 100%;
}
#mysbMiddle h4 {
margin: 0px 0px 0px 0px;
padding: 5px 15px 0px 15px;
}
#mysbMiddle p {
margin: 0px auto;
padding: 3px 15px;
display: block;
width: 600px;
max-width: 90%;
}
#mysbMiddle ul {
margin: 0px 0px 0px 0px;
}

#mysbMiddle div.list_support {
text-align: center;
padding: 5px 2px 1px;
}

#mysbMiddle div.cell {
margin: 3px 2px;
padding: 2px;
}

#mysbMiddle div.cell_hide {
display: block;
}
#mysbMiddle div.cell_show {
display: none;
}
#mysbMiddle div.incell_hide {
display: inline-block;
}
#mysbMiddle div.incell_show {
display: none;
}
#mysbMiddle span.cell_hide {
display: inline;
}
#mysbMiddle span.cell_show {
display: none;
}

#mysbMiddle div.table_support {
margin: 0px;
padding: 10px 15px 15px 15px;
}
#mysbMiddle table {
margin: 0px auto 0px auto;
border:0px;
border-spacing: 1px;
}
#mysbMiddle tr.title {
font-weight: bold;
}
#mysbMiddle td {
}

#mysbMiddle div.advert {
display: inline-block;
margin: 5px auto 10px;
right: auto;
left: auto;
padding: 10px 20px;
font-size: 80%;
text-align: justify;
border-radius: 4px;
}

div#mysbMessages {
position: fixed;
display: none;
padding: 5px;
width: 250px;
text-align: left;
z-index: 10005;
right: 20px;
bottom: 20px;
-moz-border-radius: 5px;
-webkit-border: 5px;
border-radius: 5px;
cursor:default;
}

div#mysbMessages div div{
display: table-cell; 
height: 100%; 
vertical-align: middle;
}

div#mysbMessages p {
padding: 0px 3px 0px 0px;
width: 100%;
max-width: 100%;
}

div#mysbMessages p img {
padding-right: 15px;
}

div#mysbAlerts {
/*position: relative;*/
display: table;
margin: 10px auto 10px auto;
border-radius: 6px;
max-width: 60%;
}

div#mysbAlerts div {
display: table-cell;
height: 100%; 
vertical-align: middle;
}

div#mysbAlerts img {
padding-left: 15px;
/*padding-bottom: 10px;*/
}

#mysbMiddle div.authbox {
text-align: center;
margin: 0px 20px 0px 20px;
padding: 4px 5px;
vertical-align: top;
border: 0px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

div.boxed {
/*display: inline-block;*/
width: 420px;
max-width: 95%;
margin: 5px auto 10px;
}

div.list_support div.title,
div.boxed div.title {
text-align: center;
padding: 4px 5px 5px;
min-height: 30px;
}
div.list_support div.row,
div.boxed div.row {
padding: 2px 2px 6px;
text-align: left;
min-height: 30px;
}
div.list_support div.row div.right,
div.boxed div.row div.right {
float: right;
}
div.list_support div.row div.label,
div.boxed div.row div.label {
display1: inline-block;
margin-left: 10px;
overflow-y1: hidden;
overflow-x1: hidden;
}

div.row input[type=submit],
div.row a.button {
margin-top: 5px;
}
div.row input[type=text],
div.row input[type=password],
div.row input[type=email],
div.row input[type=tel]
div.row input[type=url] {
margin-top: 2px;
}
div.row input[type=checkbox] {
margin-top: 0px;
}
div.row select {
text-align: right;
}

.help {
font-size: 80%;
font-style: italic;
display: inline-block;
}

.tooltip
{
  text-decoration:none;
  position:relative;
}


.tooltip span
{
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white;
}


.tooltip span img
{
  float:left;
  margin:0px 8px 8px 0;
}


.tooltip:hover span
{
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  width:auto;
  min-width:128px;
  max-width:320px;
  min-height:64px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}

/*
*   BOTTOM BOX
*/
div#mysbBottom {
padding: 5px 10px;
}
#mysbBottom div.content {
text-align: center;
vertical-align: middle;
font-size: 85%;
}


#mysbBottom div.techinfo {
text-align: right;
font-size: 70%;
}



/*
*   SQL LOG BOX
*/

div#mysbLogSql {
display:block;
width: 80%;
margin: 5px 0px 5px 0px;
padding: 10px 10px 25px 10px;
margin-left: auto;
margin-right: auto;
text-align: left;
}

#mysbLogSql p {
margin: 0px auto 0px auto;
width: 70%;
padding: 10px;
color: white;
background-color: #bb0000;
font-size: 80%;
}


/*
*   RTEDITOR SPECIFICS STYLES
*/

body#tinymce,
#tinymce.td,
#tinymce.pre {
font-size: 12px;
}
#mysbMiddle .mceEditor,
#mysbMiddle .mceRichText,
#mysbMiddle .mceLayout {
}
#mysbMiddle table.mceLayout {
border: 1px;
background: none repeat scroll 0% 0% transparent;
}
#mysbMiddle table.mceToolbar {
background: none repeat scroll 0% 0% transparent;
}

#mysbMiddle p.rteditor {
margin-top: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-bottom: 0px;
}


/* the overlayed element */

#overlayBg {
    position: fixed;
    z-index: 9995;
    width: 200%;
    height: 200%;
    top: 0px;
    left: 0px;
    display: none;
}

.mysb_overlay {
    display:none;
    position: fixed;
    z-index: 10000;
    top: 10%;
    left: 10%;
    right: 10%;
}

div#overlaySize {
    display:none;
}

/* default close button positioned on upper right corner */
.mysb_overlay .close {
    position:absolute;
    float: right;
    z-index: 10010;
    right:0px;
    top:0px;
    cursor:pointer;
    height:32px;
    padding: 1px 3px;
    border-top-right-radius: 5px;
}
.mysb_overlay .action {
    float: left;
    height:32px;
    padding: 1px 3px;
}
.mysb_overlay .action.first {
    border-top-left-radius: 5px;
}

div.overHead1 img,
div.overHead1 input[type=image] {
    padding: 2px 5px;
    margin: 2px 5px;
    border: 1px solid;
    border-radius: 5px;
}

div.overHead {
    height: 34px;
    top: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-right: 46px;
}

div.overBody {
    display: inline-block;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 0px; /*  */
}
.mysb_overlay div.overBody,
.mysb_overlay div.overBodyFoot {
    overflow-y:auto;
}

div.overFoot {
    display: inline-block;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    padding-top: 0px;
}
div.overFoot input[type=submit].action,
div.overFoot a.action {
    margin: 0;
    padding: 0;
    border-radius: 0px; 
    border: 0; 
    height: 100%;
}

div.overBodyFoot {
    display: inline-block;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
}

div.overBody input[type=submit],
div.overFoot input[type=submit],
div.overBodyFoot input[type=submit],
div.overFoot .button {
    font-size: 12px;
    margin: 1px 5px;
}


/* the hided element */

#hidelayer {
    display: none;
}

/* the spin element */

#spinlayer {
    display: none;
    position: fixed;
    z-index: 5000000;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: transparent;
}


